@font-face {
  font-family: "Lato-Regular";
  src: url("./eot/Lato-Regular.eot");
  src: url("./woff2/Lato-Regular.woff2") format("woff2"), url("./woff/Lato-Regular.woff") format("woff"),
    url("./eot/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Semibold";
  src: url("./eot/Lato-Semibold.eot");
  src: url("./woff2/Lato-Semibold.woff2") format("woff2"), url("./woff/Lato-Semibold.woff") format("woff"),
    url("./eot/Lato-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("./eot/Lato-Bold.eot");
  src: url("./woff2/Lato-Bold.woff2") format("woff2"), url("./woff/Lato-Bold.woff") format("woff"),
    url("./eot/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
