@import "../../../sass/styles.scss";

.input-group {
  position: relative;

  input {
    padding-right: 40px;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    color: $light-gray;

    &.active {
      border: none;
    }
  }
}
