$primary: #FF6200;
$primary_soft: #E66407;
$primary_medium: #FF6200;
$primary_strong: #ee7428;

$error: #E83430;
$success:#07bc0c;
$warning: #f1c40f;
$info: #3498db;

$black: #000000;
$dark-gray: #505050;
$darker-gray: #787575;
$light-gray: #707070;
$lighter-gray: #F2F2F2;
$medium-gray: #CCCCCC;
$white: #ffffff;
