<div class="form-group">
  <label for="password">Senha</label>
  <app-input-password type="password" id="password" [control]="passwordControl" class="form-control-sm" />

  <div class="content-password-errors" *ngIf="passwordControl.touched || passwordControl.dirty">
    <app-form-help-text *ngIf="!passwordControl.value" message="Senha obrigatória" [error]="!passwordControl.value" />

    <ng-container *ngIf="!!passwordControl.value">
      <div *ngFor="let validator of validatorsMessages">
        <app-form-help-text [message]="validator.message" [error]="passwordControl.hasError(validator.validatorType)"
          [success]="!passwordControl.hasError(validator.validatorType)" />
      </div>
    </ng-container>
  </div>
</div>
